<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Listado facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>003</ion-card-title>
      <ion-card-subtitle>fecha 03/10/23</ion-card-subtitle>
    </ion-card-header>
            supermercado el brek
            <hr>

    <ion-card-content>
        convers 47
        <br>
        categoria: zapatos
        <br>
        valor: 3000
        <br>
        descuento: 500
        <br>
        iva: 0%
        <hr>
---------------------------------
<br>
        total neto: 2500
    </ion-card-content>
  </ion-card>
</ion-content>
